<% include ./partials/header %>

<div class="container" style="padding-top: 80px;">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Disclaimer</h1>
        
        <p>Last updated: November 08, 2017</p>
        
        <p>The information contained on https://rechype-scaccoman.c9users.io website (the "Service") is for general information purposes only.</p>
        
        <p>REChype assumes no responsibility for errors or omissions in the contents on the Service.</p>
        
        <p>In no event shall REChype be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. REChype reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.</p>
        
        <p>REChype does not warrant that the website is free of viruses or other harmful components.</p>
        
        <h2>External links disclaimer</h2>
        
        <p>https://rechype-scaccoman.c9users.io website may contain links to external websites that are not provided or maintained by or in any way affiliated with REChype</p>
        
        <p>Please note that the REChype does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
    </div>
</div>

<% include ./partials/footer %>