<% include ./partials/header %>
        
        <div class="jumbotron" id="homeJumbo">
          <div class="container">
            <h1 id="jumboText">REChype</h1> 
            <section id="arrowDown" class="arrow">
              <a href="#thumbnails"><span></span></a>
            </section>
          </div>
        </div>
        <div class="container">
            
            
            
            <div class="row">
                <span id="thumbnails"></span>
              <!--AJAX APPEND PAGEINIT HAPPENS HERE-->
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/scripts/applyMessages.js"></script>
        <script type="text/javascript" src="/scripts/home.js"></script>
        
<% include ./partials/footer %>