<% include ./partials/header %>

    <div id="loginForm">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>
        <br>
         <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        
        <!-- LOGIN FORM -->
        <form action="/connect/local" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
    
            <button type="submit" class="btn btn-default">Signup</button>
        </form>
        <p>OR</p>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    
        <hr>
    
        <p>Already have an account? <a href="/auth/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/applyMessages.js"></script>
    <script type="text/javascript" src="/scripts/signup.js"></script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '132443044082161',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    
<% include ./partials/footer %>